<h1 class="title">Warenkorb</h1>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th width="200">Anzahl</th>
            <th width="100"></th>
            <th>Preis</th>
            <th>Summe</th>
        </tr>
    </thead>
    <tbody>
        <% @order.order_items.each do |order_item| %>
            <tr>
                <td><%= order_item.product.title %></td>
                <td>
                    <%= form_for :order_item, url: update_cart_path do |form| %>
                        <%= form.hidden_field :id, value: order_item.id %>
                        <div class="level">
                            <%= form.number_field :quantity, value: order_item.quantity, :class => "input" %>
                            <%= form.submit 'Ändern', :class => "button is-link" %>
                        </div>
                    <% end %>
                </td>
                <td>
                    <%= form_for :order_item, url: remove_cart_item_path do |form| %>
                        <%= form.hidden_field :id, value: order_item.id %>
                        <div class="level">
                            <%= form.submit 'Entfernen', :class => "button is-link" %>
                        </div>
                    <% end %>
                </td>
                <td><%= order_item.product.price %></td>
                <td><%= order_item.product.price * order_item.quantity %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if @order.order_items.count > 0 %>

<div class="has-text-right"><strong>Summe:</strong> <%= @order.total %></div>

<%= link_to 'Bestellen', submit_order_path(1), :class => "button is-primary" %>

<% else %>

<p>Keine Produkte im Warenkorb</p>

<% end %>