<%= form_for @order, url: advance_step_path(params[:current_step]) do |form| %>

<% if @order.errors.any? %>
  <div class="notification">
    <h2>
        <strong>Fehler</strong>
    </h2>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :blz, 'Bankleitzahl', :class => "label" %>
  <p class="control">
    <%= form.text_field :blz, :class => "input" %>
  </p>
</div>

<div class="field">
  <%= form.label :account, 'Kontonummer', :class => "label" %>
  <p class="control">
    <%= form.text_field :account, :class => "input" %>
  </p>
</div>

<div class="field">
  <p class="control">
    <%= form.submit 'Weiter', :class => "button is-primary" %>
  </p>
</div>


<% end %>