<%= form_for @order, url: advance_step_path(params[:current_step]) do |form| %>

<% if @order.errors.any? %>
  <div class="notification">
    <h2>
        <strong>Fehler</strong>
    </h2>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :name, 'Vor- und Nachname', :class => "label" %>
  <p class="control">
    <%= form.text_field :name, :class => "input" %>
  </p>
</div>

<div class="field">
  <%= form.label :email, 'E-Mail Adresse', :class => "label" %>
  <p class="control">
    <%= form.text_field :email, :class => "input" %>
  </p>
</div>

<div class="field">
  <%= form.label :street, 'Straße', :class => "label" %>
  <p class="control">
    <%= form.text_field :street, :class => "input" %>
  </p>
</div>

<div class="field">
  <%= form.label :zipcode, 'Postleitzahl', :class => "label" %>
  <p class="control">
    <%= form.number_field :zipcode, :class => "input" %>
  </p>
</div>

<div class="field">
  <%= form.label :city, 'Ort', :class => "label" %>
  <p class="control">
    <%= form.text_field :city, :class => "input" %>
  </p>
</div>

<div class="field">
  <p class="control">
    <%= form.submit 'Weiter', :class => "button is-primary" %>
  </p>
</div>


<% end %>