<%= form_for @order, url: advance_step_path(params[:current_step]) do |form| %>

<h3 class="subtitle">Bestelldaten</h3>

<table class="table">
  <tbody>
      <tr>
        <td>Kontaktdaten</td>
        <td>
          <%= @order.name %><br>
          <%= @order.email %>
        </td>
      </tr>
      <tr>
        <td>Adresse</td>
        <td><%= @order.street %>, <%= @order.zipcode %> <%= @order.city %></td>
      </tr>
      <tr>
        <td>Bankleitzahl</td>
        <td><%= @order.blz %></td>
      </tr>
      <tr>
        <td>Kontonummer</td>
        <td><%= @order.account %></td>
      </tr>
  </tbody>
</table>

<hr>

<h3 class="subtitle">Produkte</h3>

<table class="table">
  <thead>
    <tr>
      <th>Produkt</th>
      <th>Anzahl</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.product.title %></td>
        <td><%= order_item.quantity %></td>
        <td><%= order_item.product.price %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td>Summe: <%= @order.total %></td>
    </tr>
  </tbody>
</table>

<%= form.hidden_field :status, value: 'completed' %>

<div class="field">
  <p class="control">
    <%= form.submit 'Bestellung abschließen', :class => "button is-primary" %>
  </p>
</div>

<% end %>