<h1 class="title">Bestellungen</h1>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>Bestellnummer</th>
            <th>Name</th>
            <th>Produkte</th>
            <th>Lieferadresse</th>
            <th>Bankdaten</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @orders.each do |order| %>
        <tr>
            <td><%= order.id %></td>
            <td>
                <%= order.name %><br>
                <%= order.email %>
            </td>
            <td>
                <% order.order_items.each do |order_item| %>
                  <%= order_item.product.title %><br>
                <% end %>
            </td>
            <td><%= order.street %>, <%= order.zipcode %> <%= order.city %></td>
            <td>
                BLZ: <%= order.blz %><br>
                KNr: <%= order.account %>
            </td>
            <td>
                <%= order.status %>
            </td>
            <td><%= link_to 'Löschen', order_path(order),
              method: :delete,
              data: { confirm: 'Sind Sie sicher?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<% if @orders.count == 0 %>
    Leider wurden keine Bestellungen gefunden
<% end %>