<% if @product.errors.any? %>
  <div class="notification">
    <h2>
        <strong>Fehler</strong>
    </h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :title, 'Produkttitel', :class => "label" %>
  <p class="control">
    <%= form.text_field :title, :class => "input" %>
  </p>
</div>

<div class="field">
  <%= form.label :description, 'Produktbeschreibung', :class => "label" %>
  <p class="control">
    <%= form.text_area :description, :class => "textarea" %>
  </p>
</div>

<div class="field">
  <%= form.label :price, 'Preis', :class => "label" %>
  <p class="control">
    <%= form.text_field :price, :class => "input" %>
  </p>
</div>