<h1 class="title">Produkte</h1>
<h2 class="subtitle">"<%= @product.title %>" bearbeiten</h2>

<hr>

<%= form_for @product do |form| %>

<%= render :partial => 'form', :locals => {:form => form} %>

<div class="field">
  <p class="control">
    <%= form.submit 'Produkt anlegen', :class => "button is-primary" %>
  </p>
</div>


<% end %>