<h1 class="title">Produkte <%= link_to 'Produkt anlegen', new_product_path, :class => "button is-primary" %></h1>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Beschreibung</th>
            <th>Preis</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= link_to product.title, product_path(product) %></td>
            <td><%= simple_format(product.description) %></td>
            <td><%= product.price %></td>
            <td><%= link_to 'Bearbeiten', edit_product_path(product) %></td>
            <td><%= link_to 'Löschen', product_path(product),
              method: :delete,
              data: { confirm: 'Sind Sie sicher?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<% if @products.count == 0 %>
    Leider wurden keine Produkte gefunden
<% end %>