<h1 class="title">Shop</h1>

<hr>

<table class="table">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Beschreibung</th>
            <th>Preis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td><%= link_to product.title, product_path(product) %></td>
            <td><%= simple_format(product.description) %></td>
            <td><%= product.price %></td>
            <td>
                <%= form_for :order_item, url: add_to_cart_path do |form| %>
                    <%= form.hidden_field :product_id, value: product.id %>
                    <%= form.hidden_field :quantity, value: 1 %>
                    <%= form.submit 'In den Warenkorb', :class => "button is-link" %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<% if @products.count == 0 %>
    Leider wurden keine Produkte gefunden
<% end %>