<h1 class="title"><%= @product.title %> <%= link_to 'Bearbeiten', edit_product_path(@product), :class => "button is-primary" %></h1>
<hr>
<div class="content">
    <p><strong>Beschreibung:</strong></p>
    <p><%= simple_format(@product.description) %></p>
</div>

<div class="content">
    <p><strong>Preis:</strong></p>
    <p>&euro; <%= @product.price %></p>
</div>

<%= form_for :order_item, url: add_to_cart_path do |form| %>
    <%= form.hidden_field :product_id, value: @product.id %>
    <%= form.hidden_field :quantity, value: 1 %>
    <%= form.submit 'In den Warenkorb', :class => "button is-primary" %>
<% end %>