<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <div class="nav-item">
            <h1 class="title">Shopper</h1>
          </div>
          <%= link_to 'Shop', shop_path, :class => "nav-item is-tab" %>
          <%= link_to 'Produktverwaltung', products_path, :class => "nav-item is-tab" %>
          <%= link_to 'Bestellungen', orders_path, :class => "nav-item is-tab" %>
        </div>
        <div class="nav-right">
          <%= link_to 'Warenkorb', cart_path, :class => "nav-item is-tab" %>
        </div>
      </div>
    </nav>

    <section class="section">
        <div class="container">
            <%= yield %>
        </div>
    </section>
  </body>
</html>
